<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navmenu-title">
            <img src="/favicon.png" alt="Solis Agile Manager" width="30px" height="30px"/>
            <a class="navbar-brand" href="">Solis Agile Manager</a>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home"/>
                &nbsp;
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tools">
                <MudIcon Icon="@Icons.Material.Filled.Construction"/>
                &nbsp;
                Tools
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <MudIcon Icon="@Icons.Material.Filled.List"/>
                &nbsp;
                History
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <MudIcon Icon="@Icons.Material.Filled.Settings"/>
                &nbsp;
                Config
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.soliscloud.com/#/station" target="_blank">
                <MudIcon Icon="@Icons.Material.Filled.WbSunny"/>
                &nbsp;
                Solis Cloud
            </NavLink>
        </div>
    </nav>
</div>