@using ApexCharts

@inherits ChartBase<OctopusPriceSlot>

<div class="chart-area">
    <ApexChart @ref="chart"
               TItem="OctopusPriceSlot"
               XAxisType="XAxisType.Datetime"
               Options="@Options"
               Height="@("100%")">

        <ApexPointSeries TItem="OctopusPriceSlot"
                         Items="FirstSeries"
                         Name="@FirstName"
                         XValue="@(e => e.valid_from)"
                         YValue="@(e => e.value_inc_vat)"
                         SeriesType="SeriesType.Area"
                         Color="dodgerblue"
                         Stroke="@(new SeriesStroke { Color = "dodgerblue", Width = 3 })"/>

        <ApexPointSeries TItem="OctopusPriceSlot"
                         Items="@SecondSeries"
                         Name="@SecondName"
                         XValue="@(e => e.valid_from)"
                         YValue="@(e => e.value_inc_vat)"
                         SeriesType="SeriesType.Line"
                         Color="firebrick"
                         Stroke="@(new SeriesStroke { Color = "firebrick", Width = 3 })"/>
    </ApexChart>
</div>

@code {
    [Parameter]
    public IEnumerable<OctopusPriceSlot>? FirstSeries { get; set; }

    [Parameter]
    public string? FirstName { get; set; }

    [Parameter]
    public IEnumerable<OctopusPriceSlot>? SecondSeries { get; set; }

    [Parameter]
    public string? SecondName { get; set; }

    private string FormatYAxisLabel(decimal val) => val == (int)val ? $"{val:F0}" : $"{val:F2}";

    protected override async Task OnParametersSetAsync()
    {
        if (chart != null)
            await chart.UpdateSeriesAsync();

        await DoGraphZoom();

        await base.OnParametersSetAsync();
    }

    private async Task DoGraphZoom()
    {
        if (chart != null && FirstSeries != null && SecondSeries != null)
        {
            await chart.UpdateSeriesAsync();

            var maxA = FirstSeries.Max(x => x.valid_to);
            var maxB = SecondSeries.Max(x => x.valid_to);

            var closest = new List<DateTime>{ maxA, maxB }.Min(x => x);
        
            await chart.ZoomXAsync(DateTime.UtcNow.ToUnixTimeMilliseconds(), 
                closest.ToUnixTimeMilliseconds());
        }
    }

    protected override void SetOptions(ApexChartOptions<OctopusPriceSlot> options)
    {
        var yAxis = new List<YAxis>();

        yAxis.Add(new YAxis
        {
            Title = new AxisTitle { Text = "Price (p/kWh)" },
            SeriesName = "Price",
            DecimalsInFloat = 2
        });
        
        var fill = new Fill
        {
            // First type is for the first series, second type is for the second series.
            Type = [FillType.Gradient, FillType.Solid],
            Gradient = new FillGradient
            {
                Shade = GradientShade.Light,
                ShadeIntensity = 0,
                OpacityFrom = 0.8,
                OpacityTo = 0.1,
                GradientToColors = ["dodgerblue", "white"],
                Type = GradientType.Vertical
            }
        };

        options.Fill = fill;
        options.Yaxis = yAxis;

    }

}