@inject IInverterManagerService inverterManagerService

<div class="title-row">
    @if (!string.IsNullOrEmpty(ChartTitle))
    {
        <h5>@ChartTitle</h5>
    }   
    @if (ChildContent != null)
    {
        <div>
            @ChildContent
        </div>
    }
    <div class="legend">
        @ActionLegend(SlotAction.Charge)
        @ActionLegend(SlotAction.Discharge)
        @ActionLegend(SlotAction.DoNothing)
        @ActionLegend(SlotAction.ChargeIfLowBattery)
        @ActionLegend(SlotAction.Hold)
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter] public string? ChartTitle { get; set; } = string.Empty;
    
    private SolisManagerConfig? config;

    private RenderFragment ActionLegend( SlotAction a )
    {
        var style = $"color:{a.GetActionColour()}";
        var tooltip = a.GetActionLegendTooltip(config);
        return @<div title="@tooltip">
            <MudIcon style="@style" Icon="@Icons.Material.Filled.Circle" Size="@MudBlazor.Size.Small"/>
            @a.Description()
        </div>;
    }        

    protected override async Task OnInitializedAsync()
    {
        config = await inverterManagerService.GetConfig();

        await base.OnInitializedAsync();
    }
}